/*--- FONT ---*/
@font-face {
    font-family: 'Inter';
    src: url(./font/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    src: url(./font/static/Inter-Light.ttf) format('truetype');
  }

@font-face {
    font-family: 'Literata';
    src: url(./font/Literata-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
}
  
  /*--- TEST ---*/
  /*.box {
    border: 1px solid red;
  }*/
  /*--- TEST ---*/
  
  /*reset*/
  *{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    /*border: 1px red solid;*/
  }

  html {
    --scrollbarBG: rgba(42, 44, 46, 1);
    --thumbBG: rgba(244, 206, 71, 1);
  }

  body {
    background-color: #F6F4F0;
  }
  
  /*----------------------------------------------------------------------- NAVIGATION --------------------------------------------------------------------*/
  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
  }

 
  
  .nav-link {
    color: #FFF;
    text-decoration: none;
  }
  
  .navlist {
    list-style-type: none;
    margin-right: 80px;
    display: flex; flex-direction: 
    row; gap: 20px; 
    flex-wrap: wrap
  }
  
  .insidebox {
    align-items: center;
    border-radius: 20px;
    opacity: 96%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2a2c2e;
    padding: 20px 24px;
    justify-content: space-between;
    /*max-width: 1200px;*/
  }
  
  .logo-holder {
    margin: auto 10px;
    height: 40px; 
    width: 166px; 
    margin-right: 80px;
  }
  
  .logo {
    height: 40px;
    width: 166px;
  }
  
  .center {
    display: flex; 
    flex-direction: row;
  }
  
  .right-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .nav-icon {
    height: 25px;
    width: 25px;
    margin-left: 10px;
  }
  
  .nav-icon img{
    height: 25px;
    width: 25px;
    border-radius: 0;
  }
  
  
  
  .login-button {
    background-color: #F4CE47; 
    border-radius: 16px; 
    padding: 16px 28px; 
    width: 106px; 
    height: 56px;
    margin-left: 10px;
  }
  
  /*BANNER*/
  .banner{
    padding-left: 0; 
    padding-right: 0; 
    border-radius: 0px;
  }
  
  .banner-text {
    background-color: #F4CE47; 
    font-size: 48px; 
    text-align: center; 
    margin-bottom: 20px; 
    display: flex; 
    flex-direction: row; 
    overflow: hidden;  
    text-wrap: nowrap; 
    gap: 24px; 
    justify-content: center;
  }
  
  .yellow-text {
    color: #F4BA30;
  }
  


/*--------------------------BOOK INFO*/

.overview {
    display: flex;
    flex-direction: row;
    
    max-width: ;width: 1200px;
    max-height: 530px;
    border-radius: 10px;
    
    justify-content: center;

    background-color: rgba(42, 44, 46, 1);
    gap: 50px;
    
    justify-content: space-between;
    padding: 16px;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }

  .overview::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }

  .overview::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 18px;
    border: 10px solid var(--scrollbarBG);
  }
  
 .bigbook {
    
    position: relative;
    width: 100%;
    max-width: 314px;
    height: 100%;
    max-height: 476px;
    
  }

  .bookmark-holder {
    width: 32px;
    height: 32px;
    background-color: rgba(42, 44, 46, 1);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .bigbook > .gambar {
    height: 476px; 
    width: 314px;
  }

  .publish-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 50px;
  }

  .arrow {
    width: 20px;
    height: 20px;
  }
  
  .book-section {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    background-color: #F6F4F0; 
    gap: 8px; 
    padding-bottom: 30px;
    
  }

  .title {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15%;
  }

  .author, 
  .title {
    margin-bottom: 10px;
  }

  table > tbody > tr > th {
    color: rgba(255, 255, 255, 1);
    size: 16px;
    line-height: 24px;
    font-weight: 500px;
    margin-left: 5px;
    text-align: left;
  }

  table > tbody > tr > td {
    color: rgba(255, 255, 255, 1);
    size: 16px;
    line-height: 24px;
    font-weight: 400px;
    margin-left: 5px;
    text-align: left;
  }

  .reception {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(0, 0, 0, 1); 
    background-color: rgba(241, 241, 241, 1); 
    width: 371px; 
    height: 74px; 
    border-radius: 20px; 
    display: flex; 
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }

  /*SUGGESTION SECTION*/
  .maylike {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 408px;
  }

  .suggestion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    height: 360px;
    width: 193px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
  }

  .card-author {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 20px;
    
  }

  .card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .otherbooks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }

  .row0 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 56px;
    margin-bottom: 16px;
  }

  .review-card {
    width: 596px;
    min-height: 296px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 1);
    height: fit-content;
  }

  
  .readmore {
    color: rgba(0, 0, 0, 1);
  }

  .rate {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
  }

  .star {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  

  .review-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }

  .review-button {
    width: 156px;
    height: 56px;
    border-radius: 16px;
    padding: 16px 28px;
  }

  .review-button:hover {
    background-color: rgba(244, 206, 71, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }

  .name-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

 

  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }

  .reviews {
    gap: 20px;
  }


  /*end section*/

  /*Readers Reviews Section*/


  footer {
    background-color: white; 
    display: flex; 
    flex-direction: column; 
    margin: 0 auto; 
    flex-wrap: wrap;
    max-width: 1300px;
    
  }
  
  .logo-and-socmed {
    background-color: #2a2c2e; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 2000px;
    padding-right: 20px;
    flex-grow: 1
  }
  
  .left-footer {
    width: 1248; 
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer-logo {
    width: 204px; 
    height: 48px;
  }
  
  .right-footer {
    display: flex; 
    flex-direction: row;
  }
  
  .tnc-and-contact {
    background-color: black; 
    display: flex; 
    flex-direction: row; 
    height: 40px; 
    max-width: 2000px; 
    justify-content: space-between;
    align-items: center;
  }
  
  .termpolicy {
  
  }
  
  .tnc-link {
    font-size: 12px; 
    color: white; 
    margin-right: 10px;
  } 
  
  .privacy-p {
    font-size: 12px; 
    color: white; 
    margin-right: 10px;
  }
  
  .contact-link {
    font-size: 12px; 
    color: white; 
    margin-right: 10px;
  }
  
  .email-link {
    font-size: 12px; 
    color: white; 
    margin-right: 10px;
  }
  
  .socmed-icon {
    margin-left: 10px;
    border-radius: 0;
  }
  
  .igicon {
    width: 17.98px;
    height: 18px;
  }
  
  .fbicon{
    width: 8.31px;
    height: 18px;
  }
  
  .twticon {
    width: 17.23px;
    height: 14px;
  }

@media (max-width: 1058px) {
  .insidebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
  }

  .left-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .navlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .right-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
  }
}

@media (max-width: 1152px) {
  /*.book-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    
  }*/

  .suggestion {
    display: flex;
    flex-direction: column;
  }

  

  /*.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
  }*/

}